*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

/* NAVBAR */
.navbar{
  display:flex;
  justify-content:space-between;
  padding:15px 50px;
  background:#111;
  color:white;
}

.menu a{
  color:white;
  text-decoration:none;
  margin-left:20px;
}

.menu a:hover{
  color:#22c55e;
}

/* HERO */
.hero{
  height:90vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  color:white;
  background:linear-gradient(to right,#16a34a,#22c55e);
}

.hero h1{
  font-size:45px;
  margin-bottom:15px;
}

.hero button{
  padding:12px 25px;
  border:none;
  border-radius:8px;
  background:white;
  color:#16a34a;
  font-size:16px;
  cursor:pointer;
}

/* SECTIONS */
.section{
  padding:80px 40px;
  text-align:center;
}

.light{
  background:#f3f4f6;
}

/* CARDS */
.cards{
  display:flex;
  justify-content:center;
  gap:25px;
  margin-top:40px;
  flex-wrap:wrap;
}

.card{
  background:white;
  padding:25px;
  width:250px;
  border-radius:10px;
  box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

/* DONATE */
.donate{
  background:#ecfdf5;
}

form{
  margin-top:20px;
}

form input{
  display:block;
  margin:10px auto;
  padding:12px;
  width:260px;
  border-radius:8px;
  border:1px solid #ccc;
}

form button{
  padding:12px 25px;
  border:none;
  background:#16a34a;
  color:white;
  border-radius:8px;
  cursor:pointer;
}

/* FOOTER */
footer{
  background:#111;
  color:white;
  text-align:center;
  padding:20px;
}